{% extends 'base.html' %}

{% block title %}
    Contact List
{% endblock title %}

{% block content %}
<h2 class="text-center text-2xl text-gray-900 my-10">
  All Contacts
</h2>
<div class="w-6/12 mx-auto">

    {% for contact in contacts %}
        <div class="py-2 px-4 rounded-md bg-gray-100 text-gray-900 mb-3">
            <p>
                Name: {{contact.name}}
            </p>
            <p>
                Email: {{contact.email}}
            </p>
        
        </div>

    {%empty%}
    
        <p class="text-center">
            There are no contacts yets
        </p>
    {% endfor %}

    

</div>
{% endblock content %}